<h1>Album Info</h1>


<img src="/images/<= album.id%>" alt="album cover">

<p>Title: <%= @albums.title %> </p>
<p>Artist: <%= @albums.artist%> </p>
<p>Stock Level: <%= @albums.stock_level%></p>
<p>Year of release: <%= @albums.release%></p>



<p>Stock level l/m/h</p>

<p>Current buy price: <%=@albums.buy_price%></p>
<p>Current sell price: <%=@albums.sell_price%></p>
<p>Profit per sale: <%=@albums.profit%></p>
