<h1>Check Inventory</h1>

<ul>

<% @albums.each do |album| %>
  <li>
    <a href="/albums/<%= album.id %>"> <img src="/images/<%=album.id%>.jpg" alt="album cover" style="width:100px;height:100px;">  <%= album.artist_name%> : <%= album.title %>  :  <%= album.stock_level%> in stock</a></li>
<% end %>


</ul>

<p>Total Stock: <%= @total_stock %> copies in stock</p>
<p>Value of Stock: £<%= @total_value %></p>



<a href="/">Return to home</a>
