<h1>Inventory</h1>

<div class="inventory">
  <% @albums.each do |album| %>

  <div class="album-image">
    <a href="/albums/<%= album.id %>"> <img src="/images/<%=album.id%>.jpg" alt="album cover" style="width:250px;height:250px;">
  </div>
  <div class="album-info">
    <ul>
      <li><%= album.artist_name%></li>
      <li><%= album.title %></li>
      <li><%= album.stock_level%> in stock</li></a>
    </ul>
  </div>
    <% end %>
</div>


<p>You have <%= @total_stock %> albums in the building</p>
<p>Your total stock is worth £<%= @total_value %></p>
