<p>Tell me more</p>

<div class="inventory">

  <img class="album-image" src="/images/<%=@album.id%>.jpg" alt="album cover">

  <div class="album-info">
    <ul>
      <li><%= @album.artist_name %></li>
      <li><%= @album.title %> </li>
      <li><%= @album.stock_level%> in stock</li>
      <li>Released <%= @album.release%></li>
    </ul>
  </div>
</div>

<div class="album-changes">
  <div class="btn-row">
    <form action="/albums/<%= @album.id %>/update" method="get">
      <input type="submit" value="Update info"/>
    </form>
  </div>

  <div class="btn-row">
    <form action="/albums/<%= @album.id %>/delete" method="post">
      <input type="submit" value="Delete this album"/>
    </form>
  </div>
</div>

<p><%= @album.stock_level_advice%></p>

<div class="content-box">
  <table class="profit_table">
    <tr>
      <td>BUY</td>
      <td>£<%=@album.buy_price%></td>
    </tr>
    <tr>
      <td>SELL</td>
      <td>£<%=@album.sell_price%></td>
    </tr>
    <tr>
      <td>PROFIT</td>
      <td>£<%=@album.profit%></td>
    </tr>
  </table>
</div>

<p>Want more? Just add the amount in the box:</p>

<label for="amount-to-order">How many?</label>
  <div class="q-and-a">
    <form action="/reorder" method="post">
      <input type="number" name="quantity">
      <input type="hidden" name="id" value="<%= @album.id %>">

      <input type="submit" value="Reorder this album"/>
    </form>
  </div>
