<h1>Tell me more</h1>


<img src="/images/<%=@album.id%>.jpg" alt="album cover"style="width:300px;height:300px;">

<p> <%= @album.artist_name %></p>
<p> <%= @album.title %> </p>
<p> <%= @album.stock_level%> copies in stock</p>
<p>Released <%= @album.release%></p>
<p><%= @album.stock_level_advice%></p>

<table>
  <p>It'll cost £<%=@album.buy_price%> to buy this</p>
  <p>You can sell this for £<%=@album.sell_price%></p>
  <p>You'll make £<%=@album.profit%> profit per sale</p>
</table>

<p>Want more? Just add the amount in the box:</p>
<div>
  <form action="/reorder" method="post">
    <input type="number" name="quantity">
    <input type="hidden" name="id" value="<%= @album.id %>">
    <button class ="button">Reorder this album</button>
  </form>
</div>
<div class="submit">
  <form action="/albums/<%= @album.id %>/delete" method="post">
    <input type="submit" value="Delete this album"/>
  </form>

</div>
<div class="submit">
  <form action="/albums/<%= @album.id %>/update" method="get">
    <input type="submit" value="Update info"/>
  </form>
</div>
