<h1>Tell me everything!</h1>


<img src="/images/<%=@album.id%>.jpg" alt="album cover"style="width:250px;height:250px;">


<p>Title: <%= @album.title %> </p>
<p>Artist: <%= @album.artist_name %> </p>
<p>Stock Level: <%= @album.stock_level%> copies in stock</p>
<p>Year of release: <%= @album.release%></p>



<p>Stock level: <%= @album.stock_level_advice%></p>

<p>Current buy price: £<%=@album.buy_price%></p>
<p>Current sell price: £<%=@album.sell_price%></p>
<p>Profit per sale: £<%=@album.profit%></p>

<p>To order more copies of this album, enter amount required in the box below</p>
<div>
  <form action="/reorder" method="post">
    <input type="number" name="quantity">
    <input type="hidden" name="id" value="<%= @album.id %>">
    <button>Reorder this album</button>
  </form>
</div>


<form action="/albums/<%= @album.id %>/delete" method="post">
    <input type="submit" value="Delete this album"/>
</form>

<form action="/albums/<%= @album.id %>/update" method="get">
  <input type="submit" value="Update album info"/>
</form>


<a href="/">Return to home</a>
